body {
  background-color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 800px;
  padding: 4px;
}

table {
  width: 100%;
  font-size: 14px;
  border-left: 1px solid #d6d6d6;
}

td {
  border-right: 1px solid #d6d6d6;
}

#header-table tr:first-child {
  text-align: center;
  color: #0055ff;
  border-top: 1px solid #d6d6d6;
  text-shadow: 1px 1px 3px rgba(0, 85, 255, 0.3);
}

#header-table tr:nth-child(2) {
  background-color: #A4C739;
  color: white;
  border: 1px solid #d6c1d6;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
}

#header-table td {
  padding: 4px;
}

#day-names {
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
}

#day-names td {
  width: 14.2857%;
  height: 22px;
}

table.week {
  font-size: 75%;
}

table.week {
  height: 80px;
  border-bottom: 1px solid #d6d6d6;
}

table.week td {
  width: 14.2857%;
  padding: 2px 3px;
}

td.today {
  font-weight: bold;
  background-color: rgba(181, 228, 206, .4);
}

td.today.date {
  font-size: 110%;
  text-shadow: 1px 1px 3px rgba(25,25,25, 0.3);
}

table.week tr:first-child {
  height: 25%;
}

table.week tr:nth-child(2) {
  height: 75%;
}

.event.holiday {
  background-color: #c5c5ee;
}

.event.appointment {
  background-color: grey;
}

td.event.important {
  background-color: #A4C739;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  .wrapper {
    width: inherit;
    min-width: 220px;
  }
  #day-names {
    /*display: none;*/
  }
  table.week{
    height: 30px;
  }
  .week td {
    padding: auto;
    text-align: center;
  }
  .week tr:nth-child(2) {
    display: none;
  }
}