{# _AppointmentSys/templates/create_consultation.html_ #}

{% extends "layout.html" %}

{% from "macros.html" import create_menu %}

{% block title %}AS - Appointment System{% endblock %}

{% block body %}
  
  {{ create_menu(name, surname, role) }}

  <div class="container-fluid">
    <div class="col-lg-3"></div>
    <div class="row">
      <div class="col-lg-6">
        <div class="well bs-component">
          <form class="form-horizontal" action="create-consultation/finish" method="POST">
            <fieldset>
              <div class="form-group">
                <label class="col-lg-2 control-label">Title</label>
                <div class="col-lg-10">
                  <input class="form-control" name="inputTitle" id="inputTitle" value="">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Date</label>
                <div class="col-lg-10">
                  <input class="form-control" name="inputDate" id="inputDate" value="" placeholder="DD/MM/YYYY">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Start Time</label>
                <div class="col-lg-10">
                  <input class="form-control" name="inputTime" id="inputTime" value="" placeholder="HH:MM">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Duration</label>
                <div class="col-lg-10">
                  <input class="form-control" name="inputDuration" id="inputDuration" value="30">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Repeats</label>
                <div class="col-lg-10">
                  <input class="form-control" name="inputRepeats" id="inputRepeats" value="1">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Break</label>
                <div class="col-lg-10">
                  <input class="form-control" name="inputBreak" id="inputRepeats" value="10">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Capacity</label>
                <div class="col-lg-10">
                  <input class="form-control" name="inputCapacity" id="inputCapacity" value="1">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Type</label>
                <div class="col-lg-10">
                  <div class="radio radio-primary">
                    <label>
                      <input type="radio" name="inputType" id="optionsRadios1" value="personally" checked="">
                      Personally
                    </label>
                  </div>
                  <div class="radio radio-primary">
                    <label>
                      <input type="radio" name="inputType" id="optionsRadios2" value="chat">
                      Chat
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Place</label>
                <div class="col-lg-10">
                  <input class="form-control" name="inputPlace" id="inputPlace" value="">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Room</label>
                <div class="col-lg-10">
                  <input class="form-control" name="inputRoom" id="inputRoom" value="">
                </div>
              </div>
              <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Description</label>
                </br>
                <div class="col-lg-10">
                  <textarea class="form-control" rows="5" name="inputDescription" id="description" style="resize: vertical;"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-12 text-center">
                  <a class="btn btn-default" onClick="history.go(-1);return true;">Cancel</a>
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>

{% endblock %}
