{# _AppointmentSys/templates/edit_consultation1.html_ #}

{% extends "layout.html" %}

{% from "macros.html" import create_menu %}

{% block title %}AS - Appointment System{% endblock %}

{% block style %}
  <style>
    .table {
      margin-top: 40px;
      text-align:center;
    }
    .table th {
      text-align:center;
    }
  </style>
{% endblock %}

{% block body %}
  
  {{ create_menu(name, surname, role) }}

  <div class="container-fluid">
    <div class="col-lg-2"></div>
    <div class="row">
      <div class="col-lg-8">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Description</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Monday 10:00</td>
              <td><a href="edit-consultation-2" <div class="mdi-content-create"></div></a> </td>
              <td><a href="javascript:void(0)" <div class="mdi-content-clear"></div></a> </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Thursday 12:00</td>
              <td><a href="edit-consultation-2" <div class="mdi-content-create"></div></a> </td>
              <td><a href="javascript:void(0)" <div class="mdi-content-clear"></div></a> </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Friday 10:00</td>
              <td><a href="edit-consultation-2" <div class="mdi-content-create"></div></a> </td>
              <td><a href="javascript:void(0)" <div class="mdi-content-clear"></div></a> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
{% endblock %}
