{# _AppointmentSys/templates/.html_ #}

{% extends "layout.html" %}

{% from "macros.html" import create_menu %}

{% block title %}AS - Appointment System{% endblock %}

{% block style %}
  <style>
    html, body {
      height:100%; 
      margin:0;
      padding:0
    }

    .container-fluid {
      height:100%;
      display:table;
      width: 100%;
      padding: 0;
    }

    .row-fluid {
      height: 100%;
      display:table-cell;
      vertical-align:
      middle;
    }

    .centering {
      float:none;
      margin:0 auto;
    }

    .btn {
      height: 150px;
      width: 150px;
      padding:0px 0px;
    }

    .center_text_2_row {
      margin-top: 55px;
    }

    .center_text_1_row {
      margin-top: 65px;
    }

    .alert-warning {
      background-color: gray;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="text-center">
        Signed as {{ name }} {{ surname }}</br>
          <a href="current-consultation" class="btn btn-primary"><div class="center_text_2_row">CURRENT</br>APPOINTMENT</div></a>
        {% if role == "teacher" %}
          <a href="show-table" class="btn btn-primary"><div class="center_text_2_row">SHOW</br>APPOINTMENTS</div></a>
          <a href="create-consultation" class="btn btn-primary"><div class="center_text_2_row">CREATE</br>APPOINTMENT</div></a>
        {% else %}
          <a href="show-table" class="btn btn-primary"><div class="center_text_2_row">SHOW</br>APPOINTMENTS</div></a>
          <a href="search-consultations" class="btn btn-primary"><div class="center_text_2_row">RESERVE</br>APPOINTMENT</div></a>
        {% endif %}
        <a href="#" class="btn btn-primary"><div class="center_text_2_row">ACCOUNT</br>SETTINGS</div></a>
        <a href="logout" class="btn btn-primary"><div class="center_text_1_row">LOGOUT</div></a>

        <div class="panel-footer"></div>

        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <div class="alert alert-dismissable alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>NEXT APPOINTMENT</h4>
            <p>Hello, don't forget you have today appointment at 10!</p>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
</div>
  
{% endblock %}
