{# _AppointmentSys/templates/index.html_ #}

{% extends "layout.html" %}

{% block title %}AS - Appointment System{% endblock %}

{% block style %}
  <style>
    footer  {
      width:100%;
      min-height:50px;
    }

    .top-buffer {
      margin-top:30px;
    }
  </style>
{% endblock%}


{% block body %}

  <div class="container-fluid">

    <div class="row top-buffer" align="center">
      <img id="logo-main" src="static/logo.png" width="100" alt="Appointment System">
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 align="center" id="forms">Appointment System</h1>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div class="well bs-component">
          <form class="form-horizontal" action="login/check" method="POST">
            <fieldset>
              <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                  <input required="true" type="text" class="form-control floating-label" id="inputUsername" name="inputUsername" placeholder="Type your username here">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                  <input required="true" type="password" class="form-control floating-label" id="inputPassword" name="inputPassword" placeholder="Type your password here">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="name="rememberMe"" name="rememberMe"> Remember me
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-12 text-center">
                  <button type="submit" class="btn btn-primary">LOGIN</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>

    <footer class="footer">
      <div class="panel-footer text-center">
        <p>Created by <a href="mailto:xcerne01@stud.fit.vutbr.cz" target="_top">Martin Černek</a> &amp <a href="mailto:xcerne01@stud.fit.vutbr.cz" target="_top">Frederik Müller</a></br>Copyright © 2015</p>
      </div>
    </footer>

  </div>

{% endblock %}
