{# _AppointmentSys/templates/macros.html_ #}

{% macro create_menu(name, surname, role) %}

  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img id="logo-main" src="../static/logo.png" width="35" alt="HOME"></a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/">DASHBOARD</a></li>
          <li><a href="current-consultation">CURRENT APPOINTMENT</a></li>
          {% if role == "teacher" %}
          <li><a href="show-table">SHOW APPOINTMENTS</a></li>
          <li><a href="create-consultation">CREATE APPOINTMENT</a></li>
        {% else %}
          <li><a href="show-table">SHOW APPOINTMENTS</a></li>
          <li><a href="search-consultations">RESERVE APPOINTMENT</a></li>
        {% endif %}
          <li><a href="#">ACCOUNT SETTINGS</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a>{{ name.upper() }} {{ surname.upper() }}</a></li>
          <li><a href="logout">LOGOUT</a></li>
        </ul>
      </div>
    </div>
  </div>

{% endmacro %}
