{# _AppointmentSys/templates/edit_consultation1.html_ #}

{% extends "layout.html" %}

{% from "macros.html" import create_menu %}

{% block title %}AS - Appointment System{% endblock %}

{% block links %}
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="static/js/autosize.js"></script>
{% endblock %}

{% block script %}
  <script type="text/javascript" charset="utf-8">

    $(document).ready(function(){

        var userName = "{{ name + " " + surname }}";

        autosize($('textarea'));
        $("#broadcast_data").keypress(function (e) {
            if(e.which == 13) {
                var content = this.value;  
                var caret = getCaret(this);          
                if(event.shiftKey){
                    this.value = content.substring(0, caret) + content.substring(caret, content.length);
                    event.stopPropagation();
                } else {
                        if ($('#broadcast_data').val() != '') {
                        var msg = $('#broadcast_data').val()
                        msg = msg.replace(/(?:\r\n|\r|\n)/g, '<br />');
                        msg=linkify(msg);
                        msg=www(msg);
                        socket.emit('my broadcast event', {data: msg, user: userName});
                        }
                        var x = document.getElementById("broadcast_data");
                        x.style.height = "40px";
                        // $("#log").animate({ scrollTop: $('#log').prop("scrollHeight")});
                        $('#broadcast_data').val("")
                        $('#log').scrollTop($('#log')[0].scrollHeight);
                        return false;
                    }
                }
        });

        function linkify(text) {
            var urlRegex =/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
            return text.replace(urlRegex, function(url) {
                return '<a href="' + url + '" target="_blank">' + url + '</a>';
            });
        }

        function www(text) {
            var urlRegex =/(\bwww.[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
            return text.replace(urlRegex, function(url) {
                return '<a href="http://' + url + '" target="_blank">' + url + '</a>';
            });
        }

        function getCaret(el) { 
            if (el.selectionStart) { 
                return el.selectionStart; 
            } else if (document.selection) { 
                el.focus();
                var r = document.selection.createRange(); 
                if (r == null) { 
                    return 0;
                }
                var re = el.createTextRange(), rc = re.duplicate();
                re.moveToBookmark(r.getBookmark());
                rc.setEndPoint('EndToStart', re);
                return rc.text.length;
            }  
            return 0; 
        }

      var socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
      
      var audioElement = document.createElement('audio');
      audioElement.setAttribute('src', '/static/beep.mp3');

      socket.on('my response', function(msg){
        // $('#log').append('<p>'+ msg.data +'</p>');
        var d = new Date()
        var hours = d.getHours()
        if (hours < 10) {
          hours = "0" + hours;
        }
        var min = d.getMinutes()
        if (min < 10) {
          min = "0" + min;
        }
        var sec = d.getSeconds()
        if (sec < 10) {
          sec = "0" + sec;
        }
        var time = hours + ":" + min + ":" + sec;
        $('#log').append('<div class="msg"><span class="glyphicon glyphicon-user"><strong> '+ msg.user +'</strong> '+ time +'</span><p><i>'+ msg.data +'</i></p></div>');
        audioElement.play();
        // $("#log").animate({ scrollTop: $('#log').prop("scrollHeight")});
        $('#log').scrollTop($('#log')[0].scrollHeight);
      });
      
      $('form#broadcast').submit(function(event) {
        if ($('#broadcast_data').val() != '') {
          var msg = $('#broadcast_data').val()
          msg = msg.replace(/(?:\r\n|\r|\n)/g, '<br />');
          msg=linkify(msg);
          msg=www(msg);
          socket.emit('my broadcast event', {data: msg, user: userName});
        }
        var x = document.getElementById("broadcast_data");
        x.style.height = "40px";
        // $("#log").animate({ scrollTop: $('#log').prop("scrollHeight")});
        $('#broadcast_data').val("")
        $('#log').scrollTop($('#log')[0].scrollHeight);
        return false;
      });
    
    });
  </script>
{% endblock %}

{% block style %}
  <style type="text/css">
    #log {
      /*outline: 1px solid orange;*/
      height: 400px;
      overflow:hidden;
      overflow-y:scroll;
    }
    #log::-webkit-scrollbar { 
      display: none; 
    }
    #broadcast_data {
      resize: none;
    }
    .msg {
      /*outline: 1px solid blue;*/
      min-height: 50px;
      word-wrap: break-word;
      margin-left: 2px;
      /*border-left: thick double #ff0000;*/
    }
    .top-buffer {
        margin-top:15px;
    }
    .form-group{
      margin-top: 0px;
      margin-bottom: 0px
    }
  </style>
{% endblock %}

{% block body %}
  
  {{ create_menu(name, surname, role) }}

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class="well bs-component">
        
          <form class="form-inline text-center">
                  <div class="form-group col-md-2">
                    <label>Title</label>
                    <p>Konzultacia BP</p>
                  </div>
                  <div class="form-group col-md-2">
                    <label>Date</label>
                    <p>17/12/2015</p>
                  </div>
                  <div class="form-group col-md-2">
                    <label>Start time</label>
                    <p>8:00</p>
                  </div>
                  <div class="form-group col-md-2">
                    <label>End time</label>
                    <p>10:00</p>
                  </div>
                  <div class="form-group">
                    <label>Participants</label>
                    {% if role == "teacher" %}
                      <p>You and Martin Černek</p>
                    {% else %}
                      <p>You and Frederik Müller</p>
                    {% endif %}
                  </div>
            </form>



        <hr>
        <div class="" id="log">
          <!-- <div class="msg">
            <span class="glyphicon glyphicon-user"> <strong>User</strong> 11.22.132</span>
            <p></p>
          </div>   -->
        </div>
        <hr>
          <form id="broadcast" role="form">
            <div class="form-group">
                <textarea class="form-control" id="broadcast_data" placeholder="Message" autocomplete="off"></textarea>
                <div class="row top-buffer">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>

{% endblock %}
