{# _AppointmentSys/templates/reserve_consultation1.html_ #}

{% extends "layout.html" %}

{% from "macros.html" import create_menu %}

{% block title %}AS - Appointment System{% endblock %}

{% block links %}
  <link href="static/css/calendar.css" rel="stylesheet">
{% endblock %}

{% block body %}
  
  {{ create_menu(name, surname, role) }}

  <div class="container-fluid">

    <div class="col-lg-2"></div>
    <div class="row">
      <div class="col-lg-8">
        

        <div class="wrapper">
          <div class="well">
            <form class="form-inline text-center" style="padding-bottom: 20px;">
                  <div class="form-group">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="font-size:2.5em; color: grey; padding-right:40px;"></span>
                  </div>
                  <div class="form-group">
                    <label style="font-size:1.5em;color: grey;">December</label>
                    <p style="font-size:1.0em;color: grey;">2015</p>
                  </div>
                  <div class="form-group">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="font-size:2.5em; color: grey; padding-left:40px;"></span>
                  </div>
            </form>

            <table id="day-names">
              <tbody>
                <tr>
                  <td>Mon</td>
                  <td>Tue</td>
                  <td>Wed</td>
                  <td>Thu</td>
                  <td>Fri</td>
                  <td>Sat</td>
                  <td>Sun</td>
                </tr>
              </tbody>
            </table>
            <table class="week">
              <tr>
                <td>30</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
            <table class="week">
              <tr>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
            <table class="week">
              <tr>
                <td>14</td>
                <td>15</td>
                <td>16</td>
                <td class="today date">17</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="today">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
            <table class="week">
              <tr>
                <td class="event appointment">21</td>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td>25</td>
                <td>26</td>
                <td>27</td>
              </tr>
              <tr>
                <td><a href="#" style="color: #000000;"><div class="adsasd" align="center" style="height:100%;width:100%">Reserved appointments</div></a></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
            <table class="week">
              <tr>
                <td>28</td>
                <td>29</td>
                <td>30</td>
                <td>31</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
            <form class="form-inline text-center" style="padding-top: 20px;">
              <a class="btn btn-primary" onClick="history.go(-1);return true;">Back</a>
            </form>
          </div>        


        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>

  </div>
{% endblock %}
