{# _AppointmentSys/templates/edit_consultation1.html_ #}

{% extends "layout.html" %}

{% from "macros.html" import create_menu %}

{% block title %}AS - Appointment System{% endblock %}

{% block links %}
  
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $(".clickable-row").click(function() {
          window.document.location = $(this).data("href");
      });

      $(".search").keyup(function () {
        var searchTerm = $(".search").val();
        var listItem = $('.results tbody').children('tr');
        var searchSplit = searchTerm.replace(/ /g, "'):containsi('")
        
      $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
            return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
        }
      });
        
      $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
        $(this).attr('visible','false');
      });

      $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e){
        $(this).attr('visible','true');
      });

      var jobCount = $('.results tbody tr[visible="true"]').length;
        $('.counter').text(jobCount + ' item');

      if(jobCount == '0') {$('.no-result').show();}
        else {$('.no-result').hide();}
          });
    });
  </script>
{% endblock %}

{% block style %}
  <style type="text/css">
    .form-inline {
      display:table;
      margin:auto;
      padding-bottom: 30px;
    }
    button {
      -webkit-appearance: none;
      outline: none;
      border: 0;
      background: transparent;
    }
    .clickable-row {
      cursor: pointer;
    }
    .results tr[visible='false'],
    .no-result{
      display:none;
    }

    .results tr[visible='true']{
      display:table-row;
    }
    .counter{
      padding:8px; 
      color:#ccc;
    }
    .center_text_2_row {
      margin-top: 55px;
    }
    .btn {
      height: 150px;
      width: 150px;
      padding:0px 0px;
    }
    .table {
    border-bottom:0px !important;
    }
    .table th, .table td {
        border: 0px !important;
    }
    .fixed-table-container {
        border:0px !important;
    }
  </style>
{% endblock %}

{% block body %}
  
  {{ create_menu(name, surname) }}

  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="well">
                <form class="form-inline">
                  <div class="form-group">
                    <input type="text" class="search form-control" name="inputSearch" placeholder="Search">
                  </div>
                  <div class="form-group">
                    <span class="glyphicon glyphicon-search" aria-hidden="true" style="font-size:1.5em; color: grey;"></span>
                  </div>
                </form>
                  <center><a href="#A">A</a>
 <a href="#B">B</a> <a href="#C">C</a> <a href="#D">D</a> <a href="#E">E</a> <a href="#F">F</a> <a href="#G">G</a> <a href="#H">H</a> <a href="#I">I</a> <a href="#J">J</a> <a href="#K">K</a> <a href="#L">L</a> <a href="#M">M</a> <a href="#N">N</a> <a href="#O">O</a> <a href="#P">P</a> <a href="#Q">Q</a> <a href="#R">R</a> <a href="#S">S</a> <a href="#T">T</a> <a href="#U">U</a> <a href="#V">V</a> <a href="#W">W</a> <a href="#X">X</a> <a href="#Y">Y</a> <a href="#Z">Z</a></center> <br>
                {% for teacher in data %}
                  <div class="table-responsive col-md-3">
                      <table class="table results" id={{teacher.surname[0]}}>
                        <tr>
                            <td style="text-align: center;">
                              <a href="show-consultations/{{ teacher.id }}" class="btn btn-primary"><div class="center_text_2_row">{{teacher.surname}}</br>{{teacher.name}}</div></a>
                            </td>
                        </tr>
                      </table>
                  </div>
                {% endfor %}
                <div class="row">
                </div>

            </div>
        </div>
        <div class="col-lg-2"></div>
      
      </div>


  </div>

{% endblock %}
