{# _AppointmentSys/templates/edit_consultation1.html_ #}

{% extends "layout.html" %}

{% from "macros.html" import create_menu %}

{% block title %}AS - Appointment System{% endblock %}

{% block links %}
{% endblock %}

{% block script %}
  <script type="text/javascript">
    var consultations = ({{ json_data|safe }});
    $(document).ready(function(){
      $(".clickable-row").click(function(b) {
          console.log(b.target.nodeName)
          if (b.target.nodeName == "A") {
            
          }
          else {
            var consId = $(b.currentTarget).data('cons-id');
            $('#my_modal').on('show.bs.modal', function(e) {
              $(e.currentTarget).find('input[id="title"]').val(consultations[consId].title)
              $(e.currentTarget).find('input[id="date"]').val(consultations[consId].ddate)
              $(e.currentTarget).find('input[id="start_time"]').val(consultations[consId].start_time)
              $(e.currentTarget).find('input[id="end_time"]').val(consultations[consId].end_time)
              $(e.currentTarget).find('input[id="type"]').val(consultations[consId].type)
              $(e.currentTarget).find('input[id="place"]').val(consultations[consId].place)
              $(e.currentTarget).find('input[id="room"]').val(consultations[consId].room)
              $(e.currentTarget).find('input[id="capacity"]').val(consultations[consId].capacity)
              $(e.currentTarget).find('input[id="description"]').val(consultations[consId].description)
            });
            $("#my_modal").modal()
          }
      });

    });
  </script>
{% endblock %}

{% block style %}
  <style type="text/css">
    .clickable-row {
      cursor: pointer;
    }
  </style>
{% endblock %}

{% block body %}
  
  {{ create_menu(name, surname, role) }}

  <div class="container-fluid">
    <div class="col-lg-2"></div>
    <div class="row">
      <div class="col-lg-8">
        <div class="well">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Title</th>
              <th>Date</th>
              <th>Start time</th>
              <th>End time</th>
              <th>Type</th>
              <th>Capacity</th>
            </tr>
          </thead>
          <tbody>
            {% for consultation in data %}
              <tr class="clickable-row" data-cons-id="{{ loop.index - 1 }}">
                <!-- <td>{{ data[loop.index - 1] }}</td> -->
                <td>{{ consultation.title }}</td>
                <td>{{ consultation.ddate }}</td>
                <td>{{ consultation.start_time }}</td>
                <td>{{ consultation.end_time }}</td>
                <td>{{ consultation.type }}</td>
                <td>{{ consultation.capacity }}/{{ consultation.reserved }}</td>
                <td><a href="javascript:void(0)">Register</a> </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
          <form class="form-inline text-center">
          <a class="btn btn-primary" onClick="history.go(-1);return true;">Back</a>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>


  <div class="modal fade" id="my_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" style="text-align: center">Consultation details</h4>
        </div>
        <div class="modal-body">
                <form class="form">
                  <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" id="title" disabled>
                  </div>
                  <div class="form-group">
                    <label>Date</label>
                    <input type="text" class="form-control" id="date" disabled>
                  </div>
                  <div class="form-group">
                    <label>Start time</label>
                    <input type="text" class="form-control" id="start_time" disabled>
                  </div>
                  <div class="form-group">
                    <label>End time</label>
                    <input type="text" class="form-control" id="end_time" disabled>
                  </div>
                  <div class="form-group">
                    <label>Type</label>
                    <input type="text" class="form-control" id="type" disabled>
                  </div>
                  <div class="form-group">
                    <label>Place</label>
                    <input type="text" class="form-control" id="place" disabled>
                  </div>
                  <div class="form-group">
                    <label>Room</label>
                    <input type="text" class="form-control" id="room" disabled>
                  </div>
                  <div class="form-group">
                    <label>Capacity</label>
                    <input type="text" class="form-control" id="capacity" disabled>
                  </div>
                  <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" id="description" disabled>
                  </div>
                </form>
        </div>
        <div class="modal-footer">
          <div class="col-md-12 text-center"> 
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
